<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Soufiane FADIL</h2>
            <h4>example@email.com</h4>
        </div>
        <img src="https://scontent.flhe7-1.fna.fbcdn.net/v/t31.0-8/12487029_936051646479837_6768519913159380071_o.jpg?_nc_cat=109&ccb=2&_nc_sid=cdbe9c&_nc_eui2=AeGYsLJB7EjS6INvyK7sSI5wEPe8NAKfxykQ97w0Ap_HKYui8_zWHgU-1hUyPS9Jacg&_nc_ohc=9i6wqPrRSj8AX8ODZ9G&_nc_ht=scontent.flhe7-1.fna&oh=c22bc92ad0c8e5af2566910f4d784099&oe=6014F6E7" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">Posts</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Articles</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a>

</mat-nav-list>